// Bootstrap導入
@import '~bootstrap/scss/bootstrap';
// FontAwesomeの導入
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.user-info{
  padding:0 15px;
}

.books-table{
  padding:0 15px;
  margin:0 0 0 95px;
}

.copy-right-footer {
  text-align: center;
}

.body{
  margin:0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

